@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento por documento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(156, 226, 156);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(23, 105, 23);
}

h1#principal {
    text-align: center;
    background-color: rgb(23, 105, 23);
    color: white;
}

h2 {
    color: rgb(54, 94, 54);
}

.basico {
    color: rgb(47, 102, 47);
    font-weight: bold;
}

.intermediario {
    color: rgb(134, 123, 63);
    font-weight: bold;
}

.avancado {
    color: rgb(131, 62, 62);
    font-weight: bold;
}

.destaque {
    background-color: rgba(124, 124, 56, 0.308);
}